<%-include('partials/header')%>
<body>
   <div class="upload">
    <div class="drop-Box">
        <div class="dropZone">
         <div class="file">
        <img src="img.jpg" alt="" class="fileIcon">
        </div>  
        <div class="dropZoneText">
          <p class="guide">Drag and drop your file here or <span class="browseText">browse</span></p>
        </div>
      </div>
   </div>    
   </div>
</body>
</html>