<html lang="en">
<head>
    <%- include('./partials/header')%>
    <title>BlogMore</title>
</head>
<body>
<div class="container py-4">
    <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <span class="fs-4 fw-bold">BlogMore</span>
        </a>
    </header>

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container py-3">
            <h1 class="fw-bold">Hello World 👋</h1>
            <p class="col-md-6 fs-5">Welcome to my Blog Website, Here I will post regular Blockchain content, and other learnings</p>
            <a href="/article"><button class="btn btn-warning btn-lg text-white" type="button">Read Blogs</button></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="h-100 p-5 text-white bg-dark rounded-3">
                <h2>My Hobbies</h2>
                <p>I love writing poems, short stories and blogs. Sometimes also sing. Music is my second love, So what is first? It is supporting folks to grow and mentoring them.</p>
                <a href="https://twitter.com/shuklaritvik06"><button class="btn btn-outline-light" type="button">Follow me</button></a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
                <h2>Topics for Blogs</h2>
                <p>Here i will share all my learnings related to app development, web development, ui/ux, email development and much more. Happy to have you here with me in my journey to success.</p>
                <a href="mailto:ritvikshukla261@gmail.com"><button class="btn btn-outline-secondary" type="button">Suggest Topics</button></a>
            </div>
        </div>
    </div>
<%- include('./partials/footer')%>
</div>
</body>
</html>